<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Route Finder v 1.0</h1>
    <p class="lead">Find where you're heading</p>
  </div>
</header>

<div class="container clearfix">
  <div class="row">
    <div class="col-lg-12">
    
    <div class="angular-google-map-container">
      <google-map center="map.center" zoom="map.zoom" draggable="true">
        <marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" icon="marker.icon">
      </google-map>
    </div>



    </div>
  </div>

<div class="row">
<div class="col-lg-12">

</div>
</div>

</div>

<footer class="footer">
  <div class="container">
    {{currentLocation}}
      <p><a href="https://twitter.com/gregbenner">@gregbenner</a> </p>
  </div>
</footer>
